In [110]:
from IPython.display import IFrame

In [111]:
chelsea="https://es.wikipedia.org/wiki/Anexo:Trayectoria_del_Chelsea_Football_Club" 
IFrame(chelsea, width=900, height=900)

In [112]:
import pandas as pd

chelseapd=pd.read_html(chelsea, # link
                        header=0, 
                        flavor='bs4')

In [113]:
len(chelseapd)

8

In [114]:
chelsea=chelseapd[2].copy()

In [115]:
chelsea

,Temporada,Liga,Liga.1,Liga.2,Liga.3,Liga.4,Liga.5,Liga.6,Liga.7,Liga.8,FA Cup,Copa de la Liga,Europa / Otras,Europa / Otras.1,Goleadores[1]​,Goleadores[1]​.1
0,Temporada,Div.,PJ,PG,PE,PP,GF,GC,Pts.,Pos.,FA Cup,Copa de la Liga,Europa / Otras,Europa / Otras,Jugador,Goles[2]​
1,1905-06,Div. 2,38,22,9,7,90,37,53,3º,RC3[3]​,NaN,NaN,NaN,Frank PearsonJimmy Windridge,18
2,1906-07,Div. 2,38,26,5,7,80,34,57,2º,R1,NaN,NaN,NaN,George Hilsdon,27
3,1907-08,Div. 1,38,14,8,16,53,62,36,13º,R2,NaN,NaN,NaN,George Hilsdon,30
4,1908-09,Div. 1,38,14,9,15,56,61,37,11º,R2,NaN,NaN,NaN,George Hilsdon,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,2020-21,Prem.,38,19,10,9,58,36,67,4º,SC,R4,Liga de Campeones,C,Timo Werner,12
128,2021-22,Prem.,38,21,11,6,76,33,74,3º,SC,SC,Liga de Campeones,CF,Romelu Lukaku,15
129,2021-22,Prem.,38,21,11,6,76,33,74,3º,SC,SC,Supercopa de Europa,C,Romelu Lukaku,15
130,2021-22,Prem.,38,21,11,6,76,33,74,3º,SC,SC,Mundial de Clubes,C,Romelu Lukaku,15
131,Temporada,Div.,PJ,PG,PE,PP,GF,GC,Pts.,Pos.,FA Cup,Copa de la Liga,Europa / Otras,Pos.,Jugador,Goles

In [116]:
#solo nos quedaremos con las columnas de la liga (quitando goles a favor y en contra)
chelsea=chelsea.iloc[:, [0, 1, 2, 3, 4, 5, 8, 9]]
chelsea

     Temporada    Liga Liga.1 Liga.2 Liga.3 Liga.4 Liga.7 Liga.8
0    Temporada    Div.     PJ     PG     PE     PP   Pts.   Pos.
1      1905-06  Div. 2     38     22      9      7     53     3º
2      1906-07  Div. 2     38     26      5      7     57     2º
3      1907-08  Div. 1     38     14      8     16     36    13º
4      1908-09  Div. 1     38     14      9     15     37    11º
..         ...     ...    ...    ...    ...    ...    ...    ...
127    2020-21   Prem.     38     19     10      9     67     4º
128    2021-22   Prem.     38     21     11      6     74     3º
129    2021-22   Prem.     38     21     11      6     74     3º
130    2021-22   Prem.     38     21     11      6     74     3º
131  Temporada    Div.     PJ     PG     PE     PP   Pts.   Pos.

[132 rows x 8 columns]

In [117]:
#Cambiamos nombre de las columnas para que sea mas entendible 'p', indicando 'partidos'
chelsea=chelsea.rename(columns={'Liga.1': 'P_Jugados', 'Liga.2': 'P_Ganados', 'Liga.3': 'P_Empatados', 'Liga.4': 'P_Perdidos', 'Liga.7': 'Puntos', 'Liga.8': 'Posicion'})

In [118]:
#Borramos primera y ultima fila que indicaban el nombre de las columnas y reseteamos el numero de filas
chelsea = chelsea.drop([0, 131], axis=0).reset_index(drop=True)

In [119]:
#Vemos el tipo de variable de cada columna
chelsea.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Temporada    130 non-null    object
 1   Liga         129 non-null    object
 2   P_Jugados    129 non-null    object
 3   P_Ganados    129 non-null    object
 4   P_Empatados  129 non-null    object
 5   P_Perdidos   129 non-null    object
 6   Puntos       129 non-null    object
 7   Posicion     129 non-null    object
dtypes: object(8)
memory usage: 8.2+ KB

In [120]:
#Notamos una diferencia en el contador de no nulos, asi que buscamos algún valor NaN
nan_rows = chelsea[chelsea.isnull().any(1)]
nan_rows

   Temporada Liga P_Jugados P_Ganados P_Empatados P_Perdidos Puntos Posicion
33   1945-46  NaN       NaN       NaN         NaN        NaN    NaN      NaN

In [121]:
#Eliminamos la fila 33 ya que no brinda informacion (esa temporada fue cancelada)
chelsea = chelsea.drop(33, axis=0).reset_index(drop=True)

In [122]:
#Cambiamos los nombres de las ligas a unos mas entendibles
chelsea['Liga'] = chelsea['Liga'].replace('Div. 2', 'Second Division', regex=True)
chelsea['Liga'] = chelsea['Liga'].replace('Div. 1','First Division', regex=True)
chelsea['Liga'] = chelsea['Liga'].replace('Prem.', 'Premier League', regex=True)

In [123]:
#Nos aseguramos que no haya otro nombre que cambiar verificando los valores dentro
chelsea['Liga'].value_counts()

First Division                                                                                                 59
Premier League                                                                                                 49
Second Division                                                                                                19
En 1915, toda competición futbolística en el Reino Unido fue suspendida debido a la Primera Guerra Mundial.     1
En 1939, toda competición futbolística en el Reino Unido fue suspendida debido a la Segunda Guerra Mundial.     1
Name: Liga, dtype: int64

In [124]:
#Ubicamos el número de fila de los datos no identificados para borrarlo, pues si vemos la tabla original, esas filas no proporcionan datos
chelsea[chelsea['Liga']=='En 1915, toda competición futbolística en el Reino Unido fue suspendida debido a la Primera Guerra Mundial.'].index

Int64Index([10], dtype='int64')

In [125]:
chelsea[chelsea['Liga']=='En 1939, toda competición futbolística en el Reino Unido fue suspendida debido a la Segunda Guerra Mundial.'].index

Int64Index([32], dtype='int64')

In [126]:
#Borramos ambas filas resetenado el numero de filas
chelsea = chelsea.drop([10, 32], axis=0).reset_index(drop=True)

In [127]:
#Verificamos el proceso
chelsea['Liga'].value_counts()

First Division     59
Premier League     49
Second Division    19
Name: Liga, dtype: int64

In [128]:
#Quitamos el símbolo "°" de la columna de posición
chelsea['Posicion'] = chelsea['Posicion'].str.replace('º', '', regex=False)

In [129]:
#Detectamos si hay elementos no numericos u otros símbolos que no sean espacios ni números en cada columna
chelsea.P_Jugados[chelsea.P_Jugados.str.contains(pat=r'[^\w\s]', regex=True)]

Series([], Name: P_Jugados, dtype: object)

In [130]:
chelsea.P_Ganados[chelsea.P_Ganados.str.contains(pat=r'[^\w\s]', regex=True)]

Series([], Name: P_Ganados, dtype: object)

In [131]:
chelsea.P_Empatados[chelsea.P_Empatados.str.contains(pat=r'[^\w\s]', regex=True)]

Series([], Name: P_Empatados, dtype: object)

In [132]:
chelsea.P_Perdidos[chelsea.P_Perdidos.str.contains(pat=r'[^\w\s]', regex=True)]

Series([], Name: P_Perdidos, dtype: object)

In [133]:
chelsea.Puntos[chelsea.Puntos.str.contains(pat=r'[^\w\s]', regex=True)]

Series([], Name: Puntos, dtype: object)

In [134]:
chelsea.Posicion[chelsea.Posicion.str.contains(pat=r'[^\w\s]', regex=True)]

9         19[4]​
30     Susp.[5]​
73        18[7]​
105           6°
Name: Posicion, dtype: object

In [135]:
# Como vemos estos errores usamos función para obtener las palabras antes del corchete
chelsea['Posicion'] = chelsea['Posicion'].apply(lambda x: x.split('[')[0].strip())

In [136]:
#Quitamos el símbolo "°" de la columna de posición(probablemnete sea otro tipo de símbolo muy similar así que lo copiamos directamente)
chelsea['Posicion'] = chelsea['Posicion'].str.replace('°', '', regex=False)

In [137]:
#Eliminamos la fila 30, pues fue una temporada suspendida que no brinda datos relevantes
chelsea = chelsea.drop(30, axis=0).reset_index(drop=True)

In [138]:
#corroboramos nuevamente
chelsea.Posicion[chelsea.Posicion.str.contains(pat=r'[^\w\s]', regex=True)]

Series([], Name: Posicion, dtype: object)

In [139]:
#Vemos avance hasta ahora
chelsea

,Temporada,Liga,P_Jugados,P_Ganados,P_Empatados,P_Perdidos,Puntos,Posicion
0,1905-06,Second Division,38,22,9,7,53,3
1,1906-07,Second Division,38,26,5,7,57,2
2,1907-08,First Division,38,14,8,16,36,13
3,1908-09,First Division,38,14,9,15,37,11
4,1909-10,First Division,38,11,7,20,29,19
...,...,...,...,...,...,...,...,...
121,2019-20,Premier League,38,20,6,12,66,4
122,2020-21,Premier League,38,19,10,9,67,4
123,2021-22,Premier League,38,21,11,6,74,3
124,2021-22,Premier League,38,21,11,6,74,3
125,2021-22,Premier League,38,21,11,6,74,3

In [140]:
#Nos aseguramos de que las celdas con texto no tengan espacios al final ni al principio
chelsea = chelsea.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [141]:
#Las columnas con valores numericos las transformamos a formato int, en caso se necesite realizar algun cálculo
chelsea['P_Jugados'] = chelsea['P_Jugados'].astype(int)
chelsea['P_Ganados'] = chelsea['P_Ganados'].astype(int)
chelsea['P_Empatados'] = chelsea['P_Empatados'].astype(int)
chelsea['P_Perdidos'] = chelsea['P_Perdidos'].astype(int)
chelsea['Puntos'] = chelsea['Puntos'].astype(int)
chelsea['Posicion'] = chelsea['Posicion'].astype(int)

In [142]:
#Para añadir información extra creamos una nueva columna que indique el porcentage de victorias 
#primero creamos una función personalizada para sacar el porcentaje
def porcentaje(x, y):
    return round((x / y) *100, 2) #redondemos a dos decimales
#Ahora creamos nueva columna aplicando la función personalizada
chelsea['pct_de_Victorias'] = chelsea.apply(lambda row: porcentaje(row['P_Ganados'], row['P_Jugados']), axis=1)
#Mostramos resultados
chelsea

,Temporada,Liga,P_Jugados,P_Ganados,P_Empatados,P_Perdidos,Puntos,Posicion,pct_de_Victorias
0,1905-06,Second Division,38,22,9,7,53,3,57.89
1,1906-07,Second Division,38,26,5,7,57,2,68.42
2,1907-08,First Division,38,14,8,16,36,13,36.84
3,1908-09,First Division,38,14,9,15,37,11,36.84
4,1909-10,First Division,38,11,7,20,29,19,28.95
...,...,...,...,...,...,...,...,...,...
121,2019-20,Premier League,38,20,6,12,66,4,52.63
122,2020-21,Premier League,38,19,10,9,67,4,50.00
123,2021-22,Premier League,38,21,11,6,74,3,55.26
124,2021-22,Premier League,38,21,11,6,74,3,55.26
125,2021-22,Premier League,38,21,11,6,74,3,55.26

In [143]:
#Ultima revisión
chelsea.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Temporada         126 non-null    object
 1   Liga              126 non-null    object
 2   P_Jugados         126 non-null    int32
 3   P_Ganados         126 non-null    int32
 4   P_Empatados       126 non-null    int32
 5   P_Perdidos        126 non-null    int32
 6   Puntos            126 non-null    int32
 7   Posicion          126 non-null    int32
 8   pct_de_Victorias  126 non-null    float64
dtypes: float64(1), int32(6), object(2)
memory usage: 6.0+ KB

In [144]:
#Corroboramos que no se repitan las temporadas pues al ser años solo debería haber 1 por cada uno (sin repeticion)
chelsea['Temporada'].value_counts()

2012-13    5
2021-22    3
1997-98    2
1998-99    2
2000-01    2
          ..
1948-49    1
1947-48    1
1946-47    1
1938-39    1
1969-70    1
Name: Temporada, Length: 106, dtype: int64

In [145]:
#Usamos funcion para borrar duplicados y reseteamos numero de filas
chelsea=chelsea.drop_duplicates()
chelsea.reset_index(inplace=True, drop=True)
chelsea

,Temporada,Liga,P_Jugados,P_Ganados,P_Empatados,P_Perdidos,Puntos,Posicion,pct_de_Victorias
0,1905-06,Second Division,38,22,9,7,53,3,57.89
1,1906-07,Second Division,38,26,5,7,57,2,68.42
2,1907-08,First Division,38,14,8,16,36,13,36.84
3,1908-09,First Division,38,14,9,15,37,11,36.84
4,1909-10,First Division,38,11,7,20,29,19,28.95
...,...,...,...,...,...,...,...,...,...
101,2017-18,Premier League,38,21,7,10,70,5,55.26
102,2018-19,Premier League,38,21,9,8,72,3,55.26
103,2019-20,Premier League,38,20,6,12,66,4,52.63
104,2020-21,Premier League,38,19,10,9,67,4,50.00
105,2021-22,Premier League,38,21,11,6,74,3,55.26

In [146]:
#Corroboramos nuevamente
chelsea['Temporada'].value_counts()

1905-06    1
1995-96    1
1993-94    1
1992-93    1
1991-92    1
          ..
1948-49    1
1947-48    1
1946-47    1
1938-39    1
2021-22    1
Name: Temporada, Length: 106, dtype: int64

In [147]:
#Ahora que la tabla ya esta limpia procedemos a exportarla
import os

chelsea.to_csv(os.path.join("Tabla Chelsea","chelsea.csv"),index=False)